@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url(../fonts/AkzidenzGrotesk-Regular-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: bold;
  src: url(../fonts/AkzidenzGrotesk-Bold-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: lighter;
  src: url(../fonts/AkzidenzGrotesk-Light-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: lighter;
  font-style: italic;
  src: url(../fonts/AkzidenzGrotesk-LightItalic-2.otf);
}

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/Aleo-Regular-2.otf);
}

@font-face {
  font-family: 'Aleo';
  font-style: italic;
  src: url(../fonts/Aleo-Italic-2.otf);
}

@font-face {
  font-family: 'Aleo';
  font-weight: bold;
  src: url(../fonts/Aleo-Bold-2.otf);
}

* {
  box-sizing: border-box !important;
}

html, body {
  color: black;
  font-family: 'Aleo';
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.42857143;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

img {
  vertical-align: middle;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

#content {
  padding-top: 115px;
}

.akzidenz {
  font-family: 'Akzidenz Grotesk';
}

.gray-background {
  background-color: #e9e9eb;
}

.light-gray-background {
  background-color: #eee;
}

.black-text {
  color: black;
}

.blue-text {
  color: #306bc1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.inline-block {
  display: inline-block;
}

#overflow-container {
  width: 100%;
  overflow: hidden !important;
}

.full-vh-container {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.big-text {
  font-size: 47px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.regular {
  font-weight: normal;
}

.vertical-center {
  position: relative;
}

.vertical-center > * {
  display: block;
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  width: 100%;
}

.cover  {
  background-position: center;
  background-size: cover;
}

.max-width {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}