
#modal-trigger {
  display: none;
}

#modal-trigger-label {
  cursor: pointer;
  cursor: hand;
  text-decoration: underline;
}

#modal-trigger:checked ~ #modal-trigger-label {
  background-color: black !important;
}

#modal-destroyer-label {
  cursor: pointer;
  cursor: hand;
  display: block;
  height: 38px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-100%, 150%);
  width: auto;
}

#modal-destroyer-label span {
  display: block;
  height: 0;
  transition: all 0.2s;
  width: 50px;
}

#modal-destroyer-label span:nth-child(1) {
  background-color: black;
}

#modal-destroyer-label span:nth-child(2) {
  background-color: white;
  margin-top: -4px;
}

#modal-trigger:checked ~ #contact-modal label span:nth-child(1) {
  height: 4px;
  transform: rotate(45deg);
}

#modal-trigger:checked ~ #contact-modal label span:nth-child(2) {
  height: 4px;
  transform: rotate(-45deg);
}

#contact-modal {
  background-color: #306bc1;
  color: white;
  height: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100vw;
  z-index: 12;
}

#contact-modal > div {
  margin-top: 38px;
  text-align: center;
  width: 80%;
}

#modal-trigger:checked ~ #contact-modal {
  height: 100vh;
  opacity: 1;
  overflow: auto;
}

#contact-modal .form-title {
  font-size: 66px;
  margin-bottom: 50px;
}

#contact-modal form * {
  background-color: transparent;
  border: 2px white solid;
  color: white;
  display: block;
  font-family: 'Akzidenz Grotesk';
  font-size: 16px;
  margin: 15px auto 0 auto;
  max-width: 350px;
  padding: 15px 25px;
  width: 80%;
}

#contact-modal form option {
  color: #306bc1;
}

#contact-modal form #contact-send {
  background-color: white !important;
  border: none !important;
  color: #306bc1 !important;
  margin: 30px auto;
  padding: 15px 0px;
  width: 140px !important;
}

#contact-modal form *,
#contact-modal form *:focus,
#contact-modal form *:active {
  outline: none;
}

#contact-modal form *::-moz-placeholder {
  color: white;
}

#contact-modal form *::-webkit-input-placeholder {
  color: white;
}

#contact-modal form *:-ms-input-placeholder {
  color: white;
}

#contact-modal form *:-moz-placeholder {
  color: white;
}