footer {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 50px 0;
  position: relative;
}

#mavericks-footer-logo {
  height: 84px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 120px;
}

footer .max-width {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-media-icon {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.social-media-name {
  color: white;
  font-size: 11px;
  margin: 0 10px;
  vertical-align: middle;
}