.homepage-introduction {
  align-content: center;
  line-height: 115%;
  padding: 100px 150px 300px 0;
}

.homepage-gray-divisor {
  font-size: 24px;
  line-height: 115%;
  padding: 50px;
  width: 100%;
}

#homepage-cover-1 {
  background-image: url('../img/background-03.jpg');
  color: white;
  padding: 0 50px;
}

#homepage-cover-2 {
  background-image: url('../img/background-04.jpg');
}

.homepage-cover {
  height: 75vh;
  background-attachment: fixed;
}

.homepage-cover p {
  max-width: 1000px;
  width: auto;
}

.homepage-divisor {
  padding: 100px 40px;
}

#homepage-divisor-1 {
  font-size: 33px;
}

#homepage-divisor-2 {
  font-size: 30px;
}

#homepage-divisor-3 {
  font-size: 48px;
}

#homepage-divisor-4 {
  color: white;
  font-size: 25px;
  padding-top: 0px;
}

#homepage-divisor-5,
.common .contact-us,
.portfolio .contact-us,
.team .contact-us {
  font-size: 58px;
}

.homepage-diagram {
  display: block;
  margin: 0 auto;
  margin-bottom: 140px;
  padding-left: 40px;
  text-align: center;
  width: 770px;
}

.homepage-diagram-row {
  position: relative;
  text-align: left;
  width: 630px;
}

.homepage-diagram-title {
  font-size: 86.5px;
}

.homepage-diagram-title.blue-text {
  display: block;
  font-size: 66px;
}


.homepage-diagram-text {
  display: inline-block;
  font-family: 'Akzidenz Grotesk';
  font-size: 15px;
  position: relative;
  width: 210px;
}

.homepage-diagram-row:nth-child(4) .homepage-diagram-text {
  width: 400px;
}

.homepage-diagram-button {
  color: #a5a5a4;
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
  position: absolute;
  transition: color 0.2s;
  vertical-align: top;
}

.homepage-diagram-button:hover {
  color: #306bc1;
}

.homepage-diagram-arrow {
  position: absolute
}

.homepage-diagram-row:nth-child(1) .homepage-diagram-arrow {
  margin-left: 25px;
  top: 20px;
}

.homepage-diagram-row:nth-child(2) {
  margin-left: 80px;
}

.homepage-diagram-row:nth-child(2) .homepage-diagram-arrow {
  margin-left: -20px;
  top: 20px;
}

.homepage-diagram-row:nth-child(3) {
  margin-left: 220px;
}

.homepage-diagram-row:nth-child(3) .homepage-diagram-arrow {
  top: 175px;
  right: 160px;
}

.homepage-diagram-row:nth-child(4) * {
  margin-left: 50px;
}

.homepage-diagram-row:nth-child(4) .homepage-diagram-title {
  margin-top: 30px;
}

.homepage-diagram-row:nth-child(4) .homepage-diagram-arrow {
  transform: translate(-135%, -90%);
}

#homepage-gray-section {
  background-color: #eee;
  background-image: url('../img/fondo-gris-28.png');
  background-position: center;
  background-size: cover;
  height: auto !important;
}

.white-container {
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}

.white-container .white-container-title {
  font-size: 46px;
}

.white-container .learn-more {
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-top: 80px;
}

.two-columns .white-container-text {
  font-family: 'Akzidenz Grotesk';
  font-size: 19px;
  margin-top: 25px;
}

.two-columns .white-container {
  margin: 0px 20px 100px 20px;
  padding: 50px 100px;
  text-align: right;
  transition: all 0.2s;
  width: 45%;
}

.two-columns .white-container:hover {
  transform: translateY(20px);
}

#homepage-investments {
  margin-bottom: 100px;
  text-align: center;
}

.homepage-investment-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  height: 100px;
  margin: 30px 6%;
  width: 20%;
}

#boletia-logo {
  background-image: url('../img/icons/icons-11.png');
}

#the-pool-logo {
  background-image: url('../img/icons/icons-12.png');
}

#econduce-logo {
  background-image: url('../img/icons/icons-13.png');
}

#ingredienta-logo {
  background-image: url('../img/icons/icons-16.png');
}

#nubleer-logo {
  background-image: url('../img/icons/icons-15.png');
}

#arriv-io-logo {
  background-image: url('../img/icons/icons-14.png');
}

#boletia-logo:hover {
  background-image: url('../img/icons/Logos_color-04.png');
}

#the-pool-logo:hover {
  background-image: url('../img/icons/Logos_color-01.png');
}

#econduce-logo:hover {
  background-image: url('../img/icons/Logos_color-05.png');
}

#ingredienta-logo:hover {
  background-image: url('../img/icons/Logos_color-02.png');
}

#nubleer-logo:hover {
  background-image: url('../img/icons/Logos_color-03.png');
}

#arriv-io-logo:hover {
  background-image: url('../img/icons/Logos_color-06.png');
}

#form-section {
  position: relative;
}

#form-section::before {
  background-image: url('../img/icons/icons-19.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  bottom: -15px;
  content: ' ';
  display: block;
  height: 409px;
  left: -10px;
  opacity: 0;
  position: absolute;
  text-align: left !important;
  transform: translate(-30%, 30%) rotate(-45deg);
  transition: all 1.3s;
  z-index: -1;
  width: 442px;
}

#form-section.animate-wave::before {
  opacity: 1;
  transform: translate(0) rotate(0);
}

#form-container {
  max-width: 600px;
}

#form-container form {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: -20px;
  width: 70%;
}

#form-container form * {
  background-color: white;
  border: 2px #306bc1 solid;
  color: #306bc1;
  display: block;
  font-family: 'Akzidenz Grotesk';
  font-size: 16px;
  margin-bottom: 15px;
  padding: 15px 25px;
  width: 100%;
}

#form-container form select,
#contact-modal form select {
  padding-left: 20px;
}

form #homepage-contact-send {
  background-color: #306bc1 !important;
  border: none !important;
  color: white !important;
  color: #306bc1;
  margin: 30px auto;
  padding: 15px 0px;
  width: 35% !important;
}

#form-container form *,
#form-container form *:focus,
#form-container form *:active {
  outline: none;
}

#form-container form *::-moz-placeholder {
  color: #306bc1;
}

#form-container form *::-webkit-input-placeholder {
  color: #306bc1;
}

#form-container form *:-ms-input-placeholder {
  color: #306bc1;
}

#form-container form *:-moz-placeholder {
  color: #306bc1;
}

#contact-message,
#homepage-contact-message {
  height: 190px;
  resize: none;
}