/* WIDTH BASED MEDIA QUERIES*/

@media screen and (max-width: 1322px) {
  .two-columns .white-container {
    padding: 30px;
  } 
}

@media screen and (max-width: 980px) {
  .homepage-diagram {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    width: 100%;
  }

  .homepage-diagram-row {
    margin-left: 0 !important;
    text-align: center;
    width: 100%;
  }

  .homepage-diagram-row:nth-child(4) * {
    margin-left: 0;
    margin-top: 0;
  }

  .homepage-diagram-row:nth-child(4) .homepage-diagram-title {
    font-size: 86.5px;
    margin-top: 0;
  }

  .homepage-diagram-title {
    display: inline-block;
    width: 100%;
  }

  .homepage-diagram-text {
    display: inline-block;
    max-width: 450px;
    text-align: left !important;
    width: 100% !important;
  }

  .homepage-diagram-button {
    margin-left: 5px;
    margin-top: 10px;
  }

  .homepage-diagram-arrow {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .homepage-introduction {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  } 
}

@media screen and (max-width: 980px) {
  * {
    text-align: center !important;
  }

  .common .white-container {
    padding: 80px 0;
  }

  .common .white-container ol {
    left: -10px;
    margin: 0 auto;
    position: relative;
    width: 80%;
  }

  .common .white-container * {
    text-align: justify !important;
  }

  #mavericks-navbar {
    text-align: left !important;
  }

  .navbar-list li {
    text-align: right !important;
  }

  #form-container form *:not(#homepage-contact-send),
  #contact-modal form *:not(#contact-send) {
    text-align: left !important;
  }

  .two-columns .white-container {
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 90%;
  }

  .portfolio .contact-us {
    margin: 0 auto;
    padding: 100px 0;
    width: 80%;
  }

  #mavericks-footer-logo {
    display: inline-block;
    left: 0;
    margin-top: 30px;
    transform: none;
  }

  #contact-modal .form-title {
    font-size: 40px;
  }

  footer .max-width {
    left: 0;
    position: relative;
    transform: none;
  }

  footer .footer-social-media a {
    display: block;
    margin: 20px 0;
  }
}

@media screen and (max-width: 800px) {
  .team-item::after {
    border: none !important;
  }

  .team-item-photo {
    margin: 0 auto;
    max-width: 280px;
    width: 90%;
  }

  .team-item-data {
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    transform: none;
  }

  .team-item-data * {
    padding: 0;
  }

  .team-item-name {
    margin-top: 10px;
  }

  .advisor-item {
    margin: 0 20px 50px 20px;
  }
}

@media screen and (max-width: 660px) {
  .homepage-investment-item {
    height: 60px;
    width: 33%;
  }

  #homepage-cover-2 img {
    height: auto;
    width: 100%;
  }
  #mavericks-logo {
    height: 55px;
    margin: 15px;
    width: 80px;
  }

  #mavericks-logo.hide-text {
    height: 35px;
    margin-bottom: 10px;
    width: 85px;
  }

  #mavericks-logo.hide-text ~ #navbar-trigger-label {
    margin-top: 24px;
  }

  #navbar-trigger-label {
    margin-right: 20px;
  }

  #navbar-trigger-label span{
    height: 3px;
    width: 30px;
  }

  .big-text {
    font-size: 30px;
    padding-bottom: 120px;
  }
  
  .homepage-gray-divisor {
    font-size: 20px;
  }

  .homepage-divisor:not(#homepage-divisor-4) {
    padding: 50px 10px !important;
  }

  #homepage-divisor-1, #homepage-divisor-3 {
    font-size: 24px;
  }

  #homepage-divisor-2 {
    font-size: 21px;
  }

  .homepage-diagram-title {
    font-size: 57.5px !important;
  }

  #homepage-divisor-4 {
    font-size: 15px;
  }

  #homepage-divisor-5,
  .common .contact-us,
  .portfolio .contact-us,
  .team .contact-us {
    font-size: 35px;
  }

  #homepage-cover-1 {
    font-size: 28px;
  }

  .two-columns .white-container-title {
    font-size: 33px;
  }

  .two-columns .learn-more {
    margin-top: 40px;
  }

  #contact-send {
    padding: 10px 0 !important;
  }

  .homepage-investment-item:nth-child(1) {
    margin-top: -20px;
  }

  #form-section::before {
    height: 205px;
    width: 221px;
  }

  .section-title {
    font-size: 35px;
  }

  .contact-us {
    margin: 0 auto;
    padding: 60px 0 !important;
    width: 85%;
  }

  .common .divisor {
    font-size: 19px;
    padding: 50px 0;
  }

  .common .white-container {
    font-size: 15px;
    padding: 30px 0;
  }

  .common .white-container ol {
    left: -15px;
  }

  .gray-background.about-us-description {
    padding-bottom: 70px;
  }
  
  .about-us-description {
    padding: 60px 0;
  }

  .about-us-description p {
    font-size: 18px;
  }

  .about-us-description p:not(:nth-child(1)) {
    padding-top: 30px;
  }

  .sections-cover-container {
    margin-top: 20px;
  }

  #portfolio-section-title,
  #team-section-title {
    margin-top: 0;
  }

  .portfolio .white-container {
    font-size: 30px !important;
  }
}

@media screen and (max-height: 560px) {
  #contact-modal .form-title {
    font-size: 30px;
  }
}

/* HEIGHT BASED MEDIA QUERIES*/

@media screen and (max-height: 736px) {
  #homepage-cover-2 {
    height: auto !important;
  }

  #homepage-cover-2 .max-width {
    transform: none;
  }

  #homepage-divisor-4 {
    padding: 40px 10px;
  }

  #homepage-cover-2 img {
    margin-bottom: 30px !important;
  }

  .portfolio .white-container {
    height: auto !important;
    min-height: auto !important;
  }

  .portfolio .white-container span {
    margin: 120px auto;
    top: 0;
    transform: none;
    width: 85%;
  }
}
@media screen and (max-height: 640px) {
  .navbar-list-container {
    font-size: 30px;
  }
  
  #contact-modal > div {
    top: 0;
    transform: none;
  }

  #contact-modal .form-title {
    margin-bottom: 20px;
    margin-top: 80px;
  }
}

@media screen and (max-height: 640px) and (orientation: portrait) {
  .navbar-list-container {
    font-size: 30px;
  }

  .navbar-list-container li {
    max-width: 180px !important;
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
  #mavericks-logo {
    height: 55px;
    margin: 15px;
    width: 80px;
  }

  #mavericks-logo.hide-text {
    height: 35px;
    margin-bottom: 10px;
    width: 85px;
  }

  #mavericks-logo.hide-text ~ #navbar-trigger-label {
    margin-top: 24px;
  }

  #navbar-trigger-label {
    margin-right: 20px;
  }

  #navbar-trigger-label span{
    height: 3px;
    width: 30px;
  }

  .navbar-list-container li {
    max-width: 200px !important;
  }
}

@media screen and (max-height: 450px) {
  .navbar-list-container {
    font-size: 18px;
  }
}