#theark-navbar {
  background-color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}

#theark-logo {
  background-image: url('../img/icons/icons-03.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 90px;
  margin: 25px 0 0 30px;
  opacity: 1;
  position: relative;
  transition: all 0.2s;
  width: 180px;
  z-index: 1;
}

#theark-logo.hide {
  opacity: 0;
}

#theark-logo.hide-text {
  height: 65px;
  margin: 20px 20px 15px 20px;
  width: 160px;
}

#theark-logo.hide-text ~ #navbar-trigger-label {
  margin-top: 38px;
}

#navbar-trigger {
  display: none;
}

#navbar-trigger-label {
  color: white;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 23px;
  position: relative;
  transition: all 0.2s;
}

#navbar-trigger-label span {
  border-radius: 2px;
  background-color: black;
  display: block;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 40px;
}

#navbar-trigger-label span:not(:nth-child(1)) {
  margin-top: 6px;
}

#navbar-trigger-label span:nth-child(2) {
  background-color: white;
}

#navbar-trigger-label span:nth-child(3) {
  margin-top: -3px;
}

#navbar-trigger-label span:nth-child(4) {
  background-color: #306bc1;
}

.navbar-list-container {
  background-color: #306bc1;
  display: block;
  font-size: 25px;
  height: 100vh;
  justify-content: center;
  right: -280px;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 280px;
  overflow-y: auto;
  z-index: 2;
}

.navbar-list-container.active {
  opacity: 1;
  right: 0;
}

.navbar-list-container img {
  display: block;
  margin: 30px auto;
  width: 180px;
}

.navbar-list {
  list-style-type: none;
  margin-right: 50px;
  padding: 0;
}

.navbar-list li {
  text-align: right !important;
  transition: height 0.2s;
}

.navbar-list li a,
.navbar-list li label {
  color: white;
  cursor: pointer;
  cursor: hand;
  font-weight: normal;
  text-decoration: none;
}

.navbar-list li.active a,
.navbar-list li:hover a,
.navbar-list li:hover label {
  color: black;
}