#mavericks-navbar {
  background-color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}

#mavericks-logo {
  background-image: url('../img/icons/icons-03.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 135px;
  margin: 30px 0 0 30px;
  position: relative;
  transition: all 0.2s;
  width: 192px;
  z-index: 1;
}

#mavericks-logo.hide-text {
  height: 65px;
  margin: 20px 20px 15px 20px;
  width: 160px;
}

#mavericks-logo.hide-text ~ #navbar-trigger-label {
  margin-top: 38px;
}

#navbar-trigger:checked ~ #mavericks-logo {
  background-image: url('../img/icons/iconss-19.png');
}

#navbar-trigger {
  display: none;
}

#navbar-trigger-label {
  color: white;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 23px;
  position: relative;
  transition: all 0.2s;
}

#navbar-trigger-label span {
  border-radius: 2px;
  background-color: black;
  display: block;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 40px;
}

#navbar-trigger-label span:not(:nth-child(1)) {
  margin-top: 6px;
}

#navbar-trigger-label span:nth-child(2) {
  background-color: white;
}

#navbar-trigger-label span:nth-child(3) {
  margin-top: -3px;
}

#navbar-trigger-label span:nth-child(4) {
  background-color: #306bc1;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(1),
#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(4){
  width: 0;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(2){
  transform: rotate(-45deg);
  z-index: 2;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(3){
  transform: rotate(45deg);
  z-index: 1;
}

.navbar-list-container {
  background-color: #306bc1;
  display: block;
  font-size: 51px;
  height: 0;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  transition: all 0.2s;
  width: 100%;
  z-index: 0;
}

.navbar-list {
  padding: 0;
  list-style-type: none;
  height: auto;
}

.navbar-list li {
  height: 0;
  opacity: 0;
  text-align: right;
  transition: height 0.2s;
}

.navbar-list li a,
.navbar-list li label {
  color: white;
  cursor: pointer;
  cursor: hand;
  font-weight: normal;
  text-decoration: none;
}

.navbar-list li.active a,
.navbar-list li:hover a,
.navbar-list li:hover label {
  color: black;
}

#navbar-trigger:checked ~ .navbar-list-container {
  opacity: 1;
  height: 100vh;
}

#navbar-trigger:checked ~ .navbar-list-container li {
  height: auto;
  margin: 0 auto;
  max-width: 300px;
  opacity: 1;
  width: 80%;
}
