.sections-cover-container {
  margin-top: 100px;
  height: 70vh;
  position: relative;
}

.sections-cover-container.colour #about-section-title span,
.sections-cover-container.colour #angels-section-title span {
  color: black;
}

.sections-cover-container.colour #startups-section-title,
.sections-cover-container.colour #startups-section-title span {
  color: white;
}

.section-title {
  font-size: 54px;
  line-height: .85;
  left: 50%;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -70%);
  border: none;
}

.section-title,
.section-title span {
  transition: color 0.2s;
}

.section-title.fixed {
  position: fixed;
  top: 110px;
}

#startups-section-title.bottom,
#startups-section-title.bottom span {
  color: white;
}

#about-section-title.bottom,
#angels-section-title.bottom,
#about-section-title.bottom span,
#angels-section-title.bottom span {
  color: black;
}


#about-us-cover {
  background-image: url('../img/foto-11.jpg');
  transition: all 0.2s;
}

.colour #about-us-cover {
  background-image: url('../img/foto-10.jpg');
}

#startups-cover {
  background-image: url('../img/foto-12.jpg');
}

.colour #startups-cover {
  background-image: url('../img/foto-13.jpg');
}

#angels-cover {
  background-image: url('../img/foto-14.jpg');
}

.colour #angels-cover {
  background-image: url('../img/foto-15.jpg');
}

.about-us-description {
  padding: 100px 0 80px 0;
}

.about-us-description.gray-background {
  padding-bottom: 120px;
}

.about-us-description.max-width,
.about-us-description.gray-background .max-width {
  width: 80%;
}

.about-us-description.max-width {
  max-width: 775px;
}

.about-us-description.gray-background .max-width {
  max-width: 810px;
}

.about-us-description p {
  font-size: 25px;
  line-height: 220%;
}

.about-us-description p:not(:nth-child(1)) {
  padding-top: 60px;
}

.common .divisor {
  font-size: 29px;
  line-height: 180%;
  padding: 60px 0;
}

.common .white-container {
  font-size: 24px;
  line-height: 220%;
  padding: 80px 80px 100px 80px;
  text-align: left;
}

.common .white-container li{
  color: #306bc1;
  font-weight: bold;
  padding-left: 5px;
}

.common.max-width {
  max-width: 850px;
}

.common .contact-us, .team .contact-us {
  font-style: normal;
  padding: 100px 0 80px 0;
}

.portfolio .contact-us {
  padding: 160px;
}

#portfolio-section-title,
#team-section-title {
  margin-top: 50px;
  position: relative !important;
  transform: translate(-50%, 40%);
}

.portfolio.max-width,
.team.max-width {
  max-width: 1100px;
}

.portfolio.max-width .white-container {
  font-size: 40px;
  height: 50vh;
  margin-top: 70px;
  max-height: 600px;
  min-height: 600px;
}

.portfolio.max-width .white-container,
.team.max-width .white-container {
  width: 100%;
}

.team.max-width .white-container {
  margin-top: 50px;
  padding: 100px 30px 100px 30px;
}

.team-container.light-gray-background {
  border-color: #d5d5d5;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.team {
  text-align: center;
}

.team-item {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  width: 300px;
}

.team-item-photo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover !important;
  display: inline-block;
  height: 300px;
  width: 259px;
}

.team-item-name,
.team-item-description,
.team-item-linkedin {
  display: block;
}

.team-item-data hr {
  border-color: #dfdfdf;
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 10px auto;
  width: 90%;
}

.team-item-name, .advisor-item-name {
  font-size: 23px;
}

.team-item-description,
.advisor-item-description {
  font-family: 'Akzidenz Grotesk';
  font-variant: small-caps;
}

.team-item-description {
  font-size: 19px;
}

.team-item-linkedin {
  display: inline-block;
}

.team-advisors {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  width: 90%;
}

.advisors-items {
  margin-bottom: 50px;
  text-align: center;
}

.advisors-title {
  font-size: 29px;
  margin-bottom: 30px;
  padding: 50px 0 40px 0;
}

.advisor-item {
  display: inline-block;
  margin: 0 40px 60px 40px;
  min-width: 180px;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(50%);
  vertical-align: top;
  width: 18%;
}

.advisor-item.show {
  opacity: 1;
  transform: none;
}

.advisor-item-photo {
  background-position: center !important;
  background-repeat: no-repeat;
  background-size: cover !important;
  border: 1px #eee solid;
  border-radius: 50%;
  display: block;
  height: 180px;
  margin: 0 auto;
  width: 180px;
}

.advisor-item-name {
  margin-top: 10px;
}

.advisor-item-description {
  font-size: 14px;
}