@font-face {
  font-family: 'Akzidenz Grotesk';
  src: url(../fonts/AkzidenzGrotesk-Regular-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: bold;
  src: url(../fonts/AkzidenzGrotesk-Bold-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: lighter;
  src: url(../fonts/AkzidenzGrotesk-Light-2.otf);
}

@font-face {
  font-family: 'Akzidenz Grotesk';
  font-weight: lighter;
  font-style: italic;
  src: url(../fonts/AkzidenzGrotesk-LightItalic-2.otf);
}

@font-face {
  font-family: 'Aleo';
  src: url(../fonts/Aleo-Regular-2.otf);
}

@font-face {
  font-family: 'Aleo';
  font-style: italic;
  src: url(../fonts/Aleo-Italic-2.otf);
}

@font-face {
  font-family: 'Aleo';
  font-weight: bold;
  src: url(../fonts/Aleo-Bold-2.otf);
}

* {
  box-sizing: border-box !important;
}

html, body {
  color: black;
  font-family: 'Aleo';
  margin: 0;
  padding: 0;
}

#content {
  padding-top: 115px;
}

.akzidenz {
  font-family: 'Akzidenz Grotesk';
}

.gray-background {
  background-color: #e9e9eb;
}

.black-text {
  color: black;
}

.blue-text {
  color: #306bc1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

#overflow-container {
  width: 100%;
  overflow-x: hidden;
}

.full-vh-container {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.big-text {
  font-size: 51px;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}

.vertical-center {
  position: relative;
}

.vertical-center::before {
  content: ' ';
  display: inline-block;
  height: 100%;
  margin-left: -1px;
  vertical-align: middle;
  width: 0;
}

.vertical-center > * {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.cover  {
  background-position: center;
  background-size: cover;
}

.max-width {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

#mavericks-navbar {
  background-color: white;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10 !important;
}

#mavericks-logo {
  background-image: url('../img/icons/icons-03.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;
  height: 115px;
  margin: 30px 0 0 30px;
  transition: all 0.2s;
  width: 160px;
}

#mavericks-logo.hide-text {
  height: 65px;
  margin: 20px 20px 15px 20px;
}

#mavericks-logo.hide-text ~ #navbar-trigger-label {
  margin-top: 38px;
}

#navbar-trigger:checked ~ #mavericks-logo {
  background-image: url('../img/icons/iconss-19.png');
}

#navbar-trigger {
  display: none;
}

#navbar-trigger-label {
  color: white;
  cursor: pointer;
  cursor: hand;
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 23px;
  position: relative;
  transition: all 0.2s;
}

#navbar-trigger-label span {
  border-radius: 2px;
  background-color: black;
  display: block;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all 0.2s ease-in-out;
  width: 40px;
}

#navbar-trigger-label span:not(:nth-child(1)) {
  margin-top: 6px;
}

#navbar-trigger-label span:nth-child(2) {
  background-color: white;
}

#navbar-trigger-label span:nth-child(3) {
  margin-top: -4px;
}

#navbar-trigger-label span:nth-child(4) {
  background-color: #306bc1;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(1),
#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(4){
  width: 0;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(2){
  transform: rotate(-45deg);
  z-index: 2;
}

#navbar-trigger:checked ~ #navbar-trigger-label span:nth-child(3){
  transform: rotate(45deg);
}

.navbar-list-container {
  background-color: #306bc1;
  display: block;
  font-size: 51px;
  height: 0;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding-top: 20px;
  position: fixed;
  top: 0;
  transition: opacity 0.2s;
  width: 100%;
  flex-wrap: wrap;
  z-index: -1;
}

.navbar-list {
  padding: 0;
  list-style-type: none;
  height: auto;
}

.navbar-list li {
  display: none;
  opacity: 0;
  text-align: right;
  transition: all 0.2s;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
}

.navbar-list li.active a,
.navbar-list li:hover a {
  color: black;
}

#navbar-trigger:checked ~ .navbar-list-container {
  height: 100vh;
  opacity: 1;
}

#navbar-trigger:checked ~ .navbar-list-container li {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  opacity: 1;
  width: 80%;
}

.homepage-introduction {
  align-content: center;
  line-height: 115%;
  padding: 100px 150px 300px 0;
}

.homepage-gray-divisor {
  font-size: 24px;
  line-height: 115%;
  padding: 50px;
  width: 100%;
}

#homepage-cover-1 {
  background-image: url('../img/background-03.jpg');
  color: white;
  padding: 0 50px;
}

#homepage-cover-2 {
  background-image: url('../img/background-04.jpg');
}

.homepage-cover {
  height: 90vh;
  background-attachment: fixed;
}

.homepage-cover p {
  width: auto;
}

.homepage-divisor {
  padding: 100px 40px;
}

#homepage-divisor-1 {
  font-size: 33px;
}

#homepage-divisor-2 {
  font-size: 30px;
}

#homepage-divisor-3 {
  font-size: 48px;
}

#homepage-divisor-4 {
  color: white;
  font-size: 25px;
  padding-top: 0px;
}

#homepage-divisor-5 {
  font-size: 58px;
}

.homepage-diagram {
  display: inline-block;
  margin-bottom: 100px;
  margin-left: 270px;
  text-align: center;
  width: auto
}

.homepage-diagram-row {
  margin-top: -10px;
  text-align: left;
  width: auto;
}

.homepage-diagram-title {
  font-size: 86.5px;
}

.homepage-diagram-title.blue-text {
  display: block;
  font-size: 66px;
}

.homepage-diagram-text {
  display: inline-block;
  font-family: 'Akzidenz Grotesk';
  font-size: 15px;
  width: 210px;
}

.homepage-diagram-row:nth-child(4) .homepage-diagram-text {
  width: 400px;
}

.homepage-diagram-button {
  color: #a5a5a4;
  font-size: 20px;
  margin-left: 0px;
  margin-top: 10px;
  vertical-align: top;
}

.homepage-diagram-row:nth-child(1) .homepage-diagram-arrow {
  margin-top: -40px;
}

.homepage-diagram-row:nth-child(2) {
  margin-left: 80px;
}

.homepage-diagram-row:nth-child(2) .homepage-diagram-arrow {
  margin-left: -20px;
  margin-top: -30px;
}

.homepage-diagram-row:nth-child(3) {
  margin-left: 220px;
}

.homepage-diagram-row:nth-child(3) .homepage-diagram-arrow {
  transform: translate(-120%, 120%);
}

.homepage-diagram-row:nth-child(4) {
  margin-left: 50px;
  margin-top: -290px;
}

.homepage-diagram-row:nth-child(4) .homepage-diagram-arrow {
  transform: translate(-120%, 30px);
}

#homepage-gray-section {
  background-color: #eee;
  background-image: url('../img/fondo-gris-28.png');
  background-position: center;
  background-size: cover;
  height: auto !important;
}

.white-container {
  background-color: white;
  display: inline-block;
  vertical-align: middle;
}

.white-container .white-container-title {
  font-size: 46px;
}

.white-container .learn-more {
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none;
  margin-top: 80px;
}

.two-columns .white-container-text {
  font-family: 'Akzidenz Grotesk';
  font-size: 19px;
  margin-top: 25px;
}

.two-columns .white-container {
  margin: 0px 20px 100px 20px;
  padding: 50px 100px;
  text-align: right;
  transition: all 0.2s;
  width: 45%;
}

.two-columns .white-container:hover {
  transform: translateY(20px);
}

#homepage-investments {
  margin-bottom: 100px;
  text-align: center;
}

.homepage-investment-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: inline-block;
  height: 100px;
  margin: 30px 6%;
  width: 20%;
}

#boletia-logo {
  background-image: url('../img/icons/icons-11.png');
}

#the-pool-logo {
  background-image: url('../img/icons/icons-12.png');
}

#econduce-logo {
  background-image: url('../img/icons/icons-13.png');
}

#ingredienta-logo {
  background-image: url('../img/icons/icons-16.png');
}

#nubleer-logo {
  background-image: url('../img/icons/icons-15.png');
}

#arriv-io-logo {
  background-image: url('../img/icons/icons-14.png');
}

#boletia-logo:hover {
  background-image: url('../img/icons/Logos_color-04.png');
}

#the-pool-logo:hover {
  background-image: url('../img/icons/Logos_color-01.png');
}

#econduce-logo:hover {
  background-image: url('../img/icons/Logos_color-05.png');
}

#ingredienta-logo:hover {
  background-image: url('../img/icons/Logos_color-02.png');
}

#nubleer-logo:hover {
  background-image: url('../img/icons/Logos_color-03.png');
}

#arriv-io-logo:hover {
  background-image: url('../img/icons/Logos_color-06.png');
}

#form-section {
  background-image: url('../img/icons/icons-19.png');
  background-position: -10px 100%;
  background-repeat: no-repeat;
}

#form-container {
  max-width: 600px;
}

#form-container form {
  display: inline-block;
  margin-bottom: 100px;
  margin-top: -20px;
  width: 70%;
}

#form-container form * {
  background-color: white;
  border: 2px #306bc1 solid;
  color: #306bc1;
  display: block;
  font-family: 'Akzidenz Grotesk';
  font-style: 16px;
  margin-bottom: 15px;
  padding: 15px 25px;
  width: 100%;
}

form #contact-send {
  background-color: #306bc1 !important;
  border: none !important;
  color: white !important;
  color: #306bc1;
  margin: 30px auto;
  padding: 15px 0px;
  width: 35% !important;
}

#form-container form *,
#form-container form *:focus,
#form-container form *:active {
  outline: none;
}

#form-container form *::-moz-placeholder {
  color: #306bc1;
}

#form-container form *::-webkit-input-placeholder {
  color: #306bc1;
}

#form-container form *:-ms-input-placeholder {
  color: #306bc1;
}

#form-container form *:-moz-placeholder {
  color: #306bc1;
}

#contact-message {
  height: 150px;
  resize: none;
}

footer {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 50px 0;
  position: relative;
}

#mavericks-footer-logo {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

footer .max-width {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.social-media-icon {
  color: white;
  font-size: 20px;
  vertical-align: middle;
}

.social-media-name {
  color: white;
  font-size: 11px;
  margin: 0 10px;
  vertical-align: middle;
}

/* WIDTH BASED MEDIA QUERIES*/

@media screen and (max-width: 1322px) {
  .two-columns .white-container {
    padding: 30px;
  } 
}

@media screen and (max-width: 1300px) {
  .homepage-diagram {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .homepage-diagram-row {
    text-align: center;
    margin: 0 !important;
  }

  .homepage-diagram-title {
    display: inline-block;
    width: 100%;
  }

  .homepage-diagram-text {
    display: inline-block;
    max-width: 450px;
    text-align: left !important;
    width: 100% !important;
  }

  .homepage-diagram-button {
    margin-left: 5px;
  }

  .homepage-diagram-arrow {
    display: none;
  }
}

@media screen and (max-width: 1050px) {
  .homepage-introduction {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  } 
}

@media screen and (max-width: 975px) {
  * {
    text-align: center !important;
  }

  #mavericks-navbar {
    text-align: left !important;
  }

  .navbar-list li {
    text-align: right !important;
  }

  #form-container form *:not(#contact-send) {
    text-align: left !important;
  }

  .two-columns .white-container {
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;
    width: 90%;
  }

  #mavericks-footer-logo {
    display: inline-block;
    left: 0;
    margin-top: 30px;
    transform: none;
  }

  footer .max-width {
    left: 0;
    position: relative;
    transform: none;
  }

  footer .footer-social-media a {
    display: block;
    margin: 20px 0;
  }
}

@media screen and (max-width: 660px) {
  .homepage-investment-item {
    width: 50%;
  }

  #homepage-cover-2 img {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #mavericks-logo {
    height: 55px;
    margin: 15px;
    width: 80px;
  }

  #mavericks-logo.hide-text {
    height: 35px;
    margin-bottom: 10px;
  }

  #mavericks-logo.hide-text ~ #navbar-trigger-label {
    margin-top: 24px;
  }

  #navbar-trigger-label {
    margin-right: 20px;
  }

  #navbar-trigger-label span{
    height: 3px;
    width: 30px;
  }

  .big-text {
    font-size: 30px;
    padding-bottom: 120px;
  }
  
  .homepage-gray-divisor {
    font-size: 20px;
  }

  .homepage-divisor:not(#homepage-divisor-4) {
    padding: 50px 10px !important;
  }

  #homepage-divisor-1, #homepage-divisor-3 {
    font-size: 24px;
  }

  #homepage-divisor-2 {
    font-size: 21px;
  }

  .homepage-diagram-title {
    font-size: 57.5px !important;
  }

  #homepage-divisor-4 {
    font-size: 15px;
  }

  #homepage-divisor-5 {
    font-size: 35px;
  }

  #homepage-cover-1 {
    font-size: 28px;
  }

  .two-columns .white-container-title {
    font-size: 33px;
  }

  .two-columns .learn-more {
    margin-top: 40px;
  }

  #contact-send {
    padding: 10px 0 !important;
  }

  .homepage-investment-item:nth-child(1) {
    margin-top: -20px;
  }
}

/* HEIGHT BASED MEDIA QUERIES*/

@media screen and (max-height: 736px) {
  #homepage-cover-2 {
    height: auto;
  }

  #homepage-divisor-4 {
    margin-top: 40px !important;
    padding: 0 10px 40px 10px;
  }

  #homepage-cover-2 img {
    margin-bottom: 30px !important;
  }
}

@media screen and (max-height: 640px) {
  .navbar-list-container {
    font-size: 30px;
  }
}

@media screen and (max-height: 640px) and (orientation: portrait) {
  .navbar-list-container {
    font-size: 30px;
  }

  .navbar-list-container li {
    max-width: 160px !important;
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) {
  #mavericks-logo {
    height: 55px;
    margin: 15px;
    width: 80px;
  }

  #mavericks-logo.hide-text {
    height: 35px;
    margin-bottom: 10px;
  }

  #mavericks-logo.hide-text ~ #navbar-trigger-label {
    margin-top: 24px;
  }

  #navbar-trigger-label {
    margin-right: 20px;
  }

  #navbar-trigger-label span{
    height: 3px;
    width: 30px;
  }

  .navbar-list-container li {
    max-width: 120px !important;
  }
}

@media screen and (max-height: 450px) {
  .navbar-list-container {
    font-size: 18px;
  }
}